<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techmaster Việt Nam</title>
    <%- include('./partials/style__menu.ejs'); -%>
    <%- include('./partials/style__post.ejs'); -%>
</head>
<body>
    <%- include('./partials/menu.ejs'); -%>
    <div class="containerP">
        <div class="heading">
            <h1><%= result.heading %></h1>
        </div>
        <div class="date">
            <p><%= result.day %></p>
        </div>
        <div class="image">
            <img src="<%= result.img %>" alt="none">
        </div>
        <div class="pharagraph">
            <p><%= result.desc %></p>
        </div>
        <form action="/updatePost" class="form__form" method="POST">
            <input type="hidden" name="id" class="form__input" value="<%= result._id %>">
            <input type="text" name="heading" placeholder="Nhập tiêu đề bài viết mới." class="form__input">
            <input type="text" name="img" placeholder="Nhập url của ảnh tiêu đề mới." class="form__input">
            <input type="text" name="desc" placeholder="Nhập phần mô tả ngắn về bài viết mới." class="form__input">
            <input type="text" name="day" placeholder="Nhập ngày tháng xuất bản mới." class="form__input">
            <button type="submit">Sửa bài</button>
        </form>
    </div>

</body>
</html>